html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.sidebar {
  float: left;
  height: 100%;
  width: 250px;
  background-color: red;
  padding-bottom: 150px;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
}

.content {
  padding-left: 250px;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: blue;
  padding-bottom: 150px;
}

.player {
  height: 150px;
  width: 100%;
  background-color: green;
  position: fixed;
  bottom: 0;
}

.header {
  padding-left: 250px;
  height: 100px;
  background-color: blue;
}

 .search {
  padding-left: 250px;
  min-height: 100px;
  background-color: blue;
}

.thumbnail {
  height: 100px;
  width: 100px;
}

span{
  margin: 15px;
}
